In [1]:
print("Hello World")

Hello World

In [ ]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [32]:
name = "prosper"

count = 0
dic = {}
for i in name:
    
    if i in dic :
        dic[i] +=1
    
    else:
        dic[i] = 1
    
print(dic)

{'p': 2, 'r': 2, 'o': 1, 's': 1, 'e': 1}

In [68]:
# Write a Python program to get a string made of the first 2 and 
# last 2 characters of a given string.
# If the string length is less than 2, 
# return the empty string instead.

obj = input("Enter any word")

len1 =len(obj) - 2
len2 =len(obj) 

if len(obj) < 2:
    print("Empty String")
    
else:
    print(obj[0:2]+obj[len1:len2])

Empty String

In [72]:
age = 25
height = 1.75
name = "John"
is_adult = True
grades = [85, 90, 92]
person_info = {'name': 'John', 'age': 25, 'grades': [85, 90, 92]}

# Printing the values
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Adult:", is_adult)
print("Grades:", grades)
print("Person Information:", person_info)

Name: John
Age: 25
Height: 1.75
Is Adult: True
Grades: [85, 90, 92]
Person Information: {'name': 'John', 'age': 25, 'grades': [85, 90, 92]}

In [13]:
"doesn\'t'"  # use \' to escape the single quote...

"doesn't"  # ...or use double quotes instead

'"Yes," they said.'

"\"Yes,\" they said."

'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [74]:
text = "family"
text.capitalize()

'Family'

In [11]:
text  = "Prosper"
text.count("p")
text.expandtabs()

'Prosper'

In [12]:
# Strings

my_String = "Hello, Python"
print(my_String)

Hello, Python

In [ ]:
# String Concatenation

greeting = "Hello"
name = "John"
full_greeting = greeting + ", " + name + "!"
print(full_greeting)

In [1]:
text = "Hello, World!"
print(text.upper())   # Prints 'HELLO, WORLD!'
print(text.lower())

HELLO, WORLD!
hello, world!

In [2]:
sentence = "Python is fun!"
words = sentence.split(" ")
print(words)

['Python', 'is', 'fun!']

In [3]:
sentence = "    This is a sentence.    "
print(sentence.strip())

This is a sentence.

In [4]:
message = "I like apples"
new_message = message.replace("apples", "bananas")
print(new_message)

I like bananas

In [5]:
sentence = "Python is fun!"
index = sentence.find("fun")
print("Index:", index)

Index: 10

In [ ]:
# Given the string original_string = "Python is powerful and versatile", 
# create a new string that:
# Converts all characters to lowercase.
# Replaces "and" with "yet".
# Prints the length of the new string.

In [6]:
original_string = "Python is powerful and versatile"
new_str = original_string.lower()
newest_str = new_str.replace("and", "yet")
print(newest_str)

python is powerful yet versatile

In [ ]:
# Using string indexing, extract the word "programming" 
# from the following sentence: 
# sentence = "Python programming is fun!"

In [8]:
sentence = "Python programming is fun!"
print(sentence[7:18])

programming

In [ ]:
# Given the string fruit_list = "apple,banana,orange,mango", use string methods to:
# Convert the string to a list of fruits.
# Add "grape" to the list.
# Convert the list back to a string with fruits separated by semicolons.

In [17]:
fruit_list = "apple,banana,orange,mango"
fruits = fruit_list.split(",")
fruity = fruits.append("grape")
main_fruit = ":".join(fruits)
print(main_fruit)

apple:banana:orange:mango:grape

In [ ]:
# in the string quote = "In the middle of difficulty lies opportunity.", 
# find the index where the word "difficulty" starts.
# Check if the word "chance" is present in the quote.

In [19]:
quote = "In the middle of difficulty lies opportunity."

print(quote.find("difficulty"))

quote2 = quote.find("chance")
print(quote2)

17
-1

In [22]:
my_str = "Hello World"
print(my_str.startswith("Hello"))
print(my_str.endswith("World"))

True
True

In [26]:
my_str = "Abracadabra"
print(my_str.count("a"))

4

In [28]:
word = "hello world"
print(word.capitalize())                                    
print(word.title())

Hello world
Hello World

In [33]:
word = "HELLO".isupper()
print(word)

True

In [34]:
word = "python".islower()
print(word)

True

In [36]:
word = "Python"
word.swapcase()

'pYTHON'

In [41]:
word = "Python"
word.rjust(10)

'    Python'

In [40]:
word.ljust(10)

'Python    '

In [42]:
num = "12345"
print(num.isdigit())

True

In [43]:
numStr = "Hello123"
print(numStr.isalpha())

False

Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.
Sample String : 'restart'
Expected Result : 'resta$t'

In [48]:
str1 = "restart"
char = str1[0]

str2 = str1.replace(char, "$")

char1 = char + str2[1:]
print(char1)

resta$t

In [2]:
first_name ="Prosper"
First_name = ''

print(First_name)

In [4]:
# Arithemetic operators

# + Addition
a = 5
b = 3
sum = a +b
print(sum)

8

In [5]:
# - Substraction
a = 5
b = 3
sum = a - b
print(sum)

2

In [7]:
# / division
a = 4
b = 2
sum = a / b
print(int(sum))

2

In [8]:
# + muliplicaton
a = 5
b = 3
sum = a * b
print(sum)

15

In [9]:
# + exponentiation
a = 5
b = 3
sum = a ** b
print(sum)

125

In [10]:
# % modulus
a = 5
b = 3
sum = a % b
print(sum)

2

In [13]:
# floor division
a = 5
b = 3
sum = a // b
print(sum)

1

Comparision operators

In [14]:
a = 4
b = 4
compare = a == b
print(compare)

True

In [15]:
a = 4
b = 5 
compare = a == b
print(compare)

False

In [17]:
a = 4
b = 4
compare = a != b
print(compare)

False

In [19]:
a = 5
b = 4
compare = a > b
print(compare)

True

In [21]:
a = 5
b = 4
compare = a >= b
print(compare)

True

In [24]:
a = 3
b = 4
compare = a < b
print(compare)

True

In [27]:
a = 4
b = 4
compare = a <= b
print(compare)

True

Logical Operators

In [ ]:
# And
# Not
# Or

In [37]:
is_rainy = True
is_hot = True

decision = is_rainy or is_hot
print(decision)

True

In [30]:
is_rainy = False
is_hot = False

decision = is_rainy and is_hot
print(decision)

False

In [36]:
is_rainy = True
is_hot = False

decision = is_rainy and is_hot
print(decision)

False

In [34]:
is_rainy = True
is_hot = False

decision = is_rainy or is_hot
print(decision)

True

In [35]:
is_rainy = False
is_hot = False

decision = is_rainy or is_hot
print(decision)

False

In [38]:
a = 4
b = 5
c= 8
check = a < b and c > a
print(check)

True

In [39]:
a = 4
b = 5
c= 8
check = a < b or c < a
print(check)

True

In [40]:
a = 4
b = 4
c= 8
check = a <= b and c == a
print(check)

False

In [41]:
a = 7
b = 5
c= 8
check = c <= b or c < a
print(check)

False

In [42]:
is_adult = True

check = not is_adult

print(check)

False

In [51]:
is_adult = True
is_child = True

check = is_child and not is_adult

print(check)

True

In [ ]:
is_adult = True
is_child = True

check = is_child or not is_adult

print(check)

In [54]:
is_adult = True
is_child = False

check = is_child is not is_adult

print(check)

False

In [55]:
t = 15 
r = 16
w = 11
print(t < r and not r > w  )

False

In [59]:
n = 2 % 1 == 0
print(n)

True

In [60]:
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

In [4]:
name = ['prosper', 'james', 'john', 'peter', 'andrew']

for i in range(5):
    print(name[i])

prosper
james
john
peter
andrew

In [1]:
nums = [1, 2, 3, 4, 5, 6]

k = 0
for i in nums:
    k +=i
print(k)

21